@font-face {
  font-family: "Open Sans";
  src: url("../assets/font/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "Open Sans light";
  src: url("../assets/font/OpenSans-Light.ttf");
}

body {
  margin: auto;
  width: 90%;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header,
footer {
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab {
  display: flex;
}

header li {
  list-style: none;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 10px;
}

header li:hover {
  transition-duration: 500ms;
  color: #40ba37;
}

h2 {
  color: #fff;
  line-height: 39px;
}

.full {
  width: 100%;
  height: 56.25vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  background-image: url("../assets/img/bg1.jpg");
}

.recipe-image {
  background-image: url("../assets/img/bg4.jpg");
}

.about-image {
  background-image: url("../assets/img/bg7.jpg");
}

.contact-image {
  background-image: url("../assets/img/bg6.jpg");
}

.container {
  width: 30%;
  padding: 60px 50px;
  border-left: 3px solid #40ba37;
  background-color: rgba(255, 255, 255, 0.1);
}

footer p {
  color: #4b4b4b;
  font-family (stack): "Open Sans", sans-serif;
  font-size: 14px;
}

.container p {
  font-family: "Open Sans light", sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: justify;
}

.container li {
  color: #fff;
  margin-top: 5px;
}

.myButton {
  background-color: #40ba37;
  border-radius: 8px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: "Open Sans light", sans-serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
  text-align: center;
}

.myButton:hover {
  background-color: #5cbf2a;
}

.myButton:active {
  position: relative;
  top: 1px;
}
